<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="stylesheet.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Todo App</title>
  </head>
  <body>
    <div class="centered">
      <div class="title2">
        Todo List
      </div>
      <div class="lists">
        <div class="item" th:classappend="${b.done}" th:each="b : ${alltodos}" th:id="${task_id}">
            <div class="text" th:text="${b.name}"></div>
            <div class="check" th:text="${b.done}"></div>
        </div>
      </div>
      <div class="buttons">
        <button type="button" name="button" onclick="location.href='/';">Home</button>
        <button type="button" name="button" onclick="location.href='edit';">Edit</button>
        <button type="button" name="button" onclick="location.href='add';">Add</button>
      </div>
    </div>
    <script type="text/javascript">
    $(document).ready(function(){
      $(".item").click(function(e){
        $.ajax({type: "POST",
          url: "/complete",
          data: { name: $(this).find(".text").text() },
          success:function(result){
            location.reload();
          }
        });
      });
      $(".item").dblclick(function(e){
        $.ajax({type: "POST",
          url: "/delete",
          data: { name: $(this).find(".text").text() },
          success:function(result){
            location.reload();
          }
      });
    });
  });
    </script>
  </body>
</html>
